<!doctype html>
<html>
    <head>
        <title> bumps distribution server </title>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes, container"> {% for message in messages %}
                        <li>{{ message }}</li>{% endfor %}
                    </ul> {% endif %}

                {% endwith %}
        <h2> NCNR bumps Fitting Test Server</h2>
        </div>
    </head>

    <body>

        <div class="container">
            {% block content %} {% endblock %}
            <p> For help, please contact <a href="mailto:raul.negron3@upr.edu">support</a>.</p>
        </div>
    </body>

</html>
