{% extends "base.html" %}
{% block content %}
    <h4> Time to work with some data</h4>

    {% if submitted %}
    <p> Your file was uploaded succesfully. You can access it <a href="{{url_for('uploaded_file')}}/{{filename}}"> here. </a></p>
    {% endif %}

    <p> Upload data: </p>
    <form action="{{url_for('upload_file')}}" method="POST" enctype = "multipart/form-data">
        <p><input type="file" name="file" />
        <input type="submit" style="margin-bottom: 20px; margin-top: 20px;" /></p>
    </form>

    <p> (This should show up if a user has a fit job running:) Check the status of your fit. </p>

    <p> (This should show up if a fit job has finished running:) Check the results of your fit. </p>

    <form action="{{url_for('dashboard')}}" method="GET">
        <p><input type="submit" value="Back"/></p>
    </form>

{% endblock %}
