{% extends "base.html" %}
{% block content %}
    {% if not results %}
    <h4> Time to work with some data</h4>

    <br>
    <p> TESTING: Fitting with a straight line as described in the <a href="http://bumps.readthedocs.io/en/latest/tutorial/curvefit/curve.html"> bumps docs </a></p>
    <form action="" method="POST"
        {{f_form.hidden_tag()}}
        <p>{% for field in f_form if field.widget.input_type != 'hidden' %}
                {% if field.errors %}
                    {{field}}
                    <span style="color: red;">{% for _, error in field.errors.iteritems() %}{{ error }}{% endfor %}</span>
                {% else %}
                    {{ field }}
                {% endif %}
        </p>{% endfor %}

        <input type="submit" value="Submit" /> </p>
    </form>
    <br>

    <p> (This should show up if a user has a fit job running:) Check the status of your fit. </p>

    <p> (This should show up if a fit job has finished running:) Check the results of your fit. </p>



    {% else %}

    {% endif %}

    <form action="{{url_for('dashboard')}}" method="GET">
        <p><input type="submit" value="Back"/></p>
    </form>

{% endblock %}
