body{
    background-color: rgb(186, 233, 202);
    color:black;
    border-color:black;
}
table, th, td, tr, th {
    border: 1px solid black;
}
th {
    text-align: center;
    background-color: rgb(70, 185, 70);
}
.no_border {
    border: 0px;
}
