body{
    background-color: rgb(29, 29, 233);
    color:white;
}
table, th, td, tr, th {
    border: 1px solid black;
}
th {
    text-align: center;
    background-color: rgb(155, 155, 155);
}
.no_border {
    border: 0px;
}
