body{
    background-color: rgb(85, 182, 238);
    color:black;
    border-color:black;
}
table, th, td, tr, th {
    border: 1px solid black;
}
th {
    text-align: center;
    background-color: rgb(100, 131, 216);
}
.no_border {
    border: 0px;
}
h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}
tr {
    border: none;
}
#topBtn {
    display: none;
    position: fixed;
    border: none;
    outline: none;
    background-color: rgb(7, 164, 175);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
  #topBtn:hover {
    background-color: rgb(92, 132, 243);
  }
  
  #tbl_fit_results {
      border: 1px solid;
      width: 100%;
  }