body{
    background-color: rgb(33, 134, 201);
    color:white;
    border-color:white;
}
table, th, td, tr, th {
    border: 1px solid black;
}
th {
    text-align: center;
    background-color: rgb(100, 131, 216);
}
.no_border {
    border: 0px;
}
h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}