<html>
    <head>
        <!-- Constatnts and Globals. MUST be first -->
        <!--<script src="{{ url_for ('static', filename='js/const.js') }}" charset="utf-8"></script>
            <script src="{{ url_for ('static', filename='js/local_tags.js') }}" charset="utf-8"></script>
            <script src="{{ url_for ('static', filename='js/bumps_gui.js') }}" charset="utf-8"></script>
        <script src="{{ url_for ('static', filename='js/random_words.js') }}" charset="utf-8"></script>-->

        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/bumps_gui.css') }}"/>
        <!--<link rel="stylesheet" href="{{ url_for ('static', filename='css/bumps_portal.css') }}"/>-->
        <script>
            function onBrokerTestClick() {
                var text = $(this).text();
                //console.log('btnCeleryTest');
                console.log('btnBrokerTest');
                $.ajax({
                    url: "/test_broker",
                    //url: "/test_celery",
                    //url: "/suggestions",
                    type: "get",
                    data: {jsdata: text},
                    success: function(response) {
                        document.getElementById('celery_test_result').innerText = response;
                        //$("#place_for_suggestions").html(response);
                    },
                    error: function(xhr) {
                        //str = f'runtimer error: {xhr}'
                        console.log('runtime error: ' + xhr);
                    }
                });
            }
        </script>
    </head>
            <title>Bumps Celery Setup</title>
    <!--<body onload="init_app()">-->
    <body>
        <h3 style="text-align: center;">Bumps Celery Setup</h3>
        <p>Python Parameter: {{ dir }}</p>
        <table>
            <tr>
                <th>Function</th>
                <th>Broker</th>
                <th>Backend</th>
            </tr>
            <tr>
                <th>Server Type</th>
                <td>
                    <select id="broker_type">
                        <option value="rabbit">RabbitMQ</option>
                        <option value="redis">Redis</option>
                    </select>
                </td>
                <td>
                    <select id="backend_type">
                        <option value="rabbit">RabbitMQ</option>
                        <option value="redis">Redis</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Server Type</th>
                <td><input type="text" id="txtBroker" value="rabbit-server"></td>
                <td><input type="text" id="txtBackend" value="redis-server"></td>
            </tr>
            <tr>
                <th>Connection String</th>
                <td><input type="text" id="txtBrokerConnection" value="amqp://rabbit-server"></td>
                <td><input type="text" id="txtBkendConnection" value="redis://redis-server"></td>
            </tr>
            <tr>
                <th>Test</th>
                <!--<td><input type="button" id="btnCeleryTest" onclick="onCeleryTestClick()" value="Test Connection"></td>-->
                <td><input type="button" id="btnBrokerTest" onclick="onBrokerTestClick()" value="Test Broker"></td>
                <td>Backend Test</td>
            </tr>
            <tr>
                <th>Results</th>
                <td>Broker Results</td>
                <td>Backend Results</td>
            </tr>
        </table>
    </body>
</html>
