<html>
    <head>
        <!-- Constatnts and Globals. MUST be first -->
            <script src="{{ url_for ('static', filename='js/const.js') }}" charset="utf-8"></script>
            <script src="{{ url_for ('static', filename='js/bumps_gui.js') }}" charset="utf-8"></script>
        <script src="{{ url_for ('static', filename='js/random_words.js') }}" charset="utf-8"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/bumps_gui.css') }}"/>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/bumps_portal.css') }}"/>
    </head>
            <title>Bumps Distribution Server</title>
    <body onload="init_app()">
            <h3><b>Bumps</b> Multi Processing User Interface</h3>
			<table width="100%">
				<tr>
					<th>
						Problem Definition
					</th>
					<th>
						Fitting Parameters
					</th>
                    <th width="50%">
                        Submitted Jobs
                    </th>
				</tr>
                <tr>
                    <td style="vertical-align: top;">
                        <table class="no_border" width="100%">
                            <tr style="vertical-align: top;">
                                <td class="no_border"><input type="button" id="clear_file"  value="Clear"></td>
                                <td class="no_border"><input type="file" id="problemFile"></td>
                                <td class="no_border"><input type="button" id="save_problem_file"  value="Save As..."></td>
                            </tr>
                            <tr><td class="no_border" colspan="3">
                                <textarea cols="60" rows="20" id="problem_text" width="100%" wrap="soft"></textarea>
                            </td></tr>
                    </table>
                    </td>
                    <td valign="top">
                        <table width="100%">
                            <tr><td colspan="3" style="text-align: center;">
                                <input id="btnSendFitJob" type="button" value="Submit Job" onclick="onSendFitJobClick()">
                            </td></tr>
                            <tr style="border-bottom: 1pt;border-top: 1pt;border-color: black;">
                                <td style="text-align:center;"><input type="radio" id="mp_none" onclick="change_multi_processing(this.value)" checked="true" value="none">None</td>
                                <td style="text-align:center;"><input type="radio" id="mp_celery" onclick="change_multi_processing(this.value)" value="celery">Celery</td>
                                <td style="text-align:center;"><input type="radio" id="mp_slurm" onclick="change_multi_processing(this.value)" value="slurm" disabled>Slurm</td>
                            </tr>
                            <tr><td colspan="3" style="text-align: center;">
                                Tag: <input type="text" id="remote_tag" size="10" ><br>
                                        <input type="button" value="Generate" onclick="generateTag()">
                            </td></tr>
                        </table>
                        <table width="100%">
                            <tr>
                                <td class="no_border" style="text-align: right;">Steps:</td>
                                <td class="no_border"><input type="number" id="fitting_steps" value="100" steps="10" min="1" style="width: 5em;"></td>
                            </tr>
                            <tr>
                                <td class="no_border" style="text-align: right;">Burn:</td>
                                <td class="no_border"><input type="number" id="fitting_burn" value="100" steps="10" min="1" style="width: 5em;"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" valign="top">
                        <table width="100%">
                            <tr style="text-align: center;">
                                <td class="no_border">
                                    <input type="button" id="btnResultDelete"  value="Delete" onclick="onResultsDeleteClick()">
                                </td>
                                <td class="no_border">
                                    <input type="button" id="btnResultDisplay" value="Display" onclick="onResultsDisplayClick()">
                                </td>
                                <td class="no_border">
                                    <input type="button" id="btnResultLoad" value="Load" onclick="onResultsLoadClick()">
                                </td>
                                <td class="no_border">
                                    <input type="button" id="btnResultStatus" value="Status" onclick="onResultsStatusClick()">
                                </td>
                                <td class="no_border">
                                    <input type="checkbox" id="cboxStatusPoll">Status Poll
                                </td>
                            </tr>
                        </table>
                        <table width="100%" id="tblResults">
                            <tr>
                                <th><input type="checkbox" id="cboxCheckAll" onclick="onJobsIdClick(this.id)">Job ID</th>
                                <th>Date/Time</th>
                                <th>Tag</th>
                                <th>Status</th>
                                <th>Results</th>
                            </tr>
                        </table>
                    </td>
                </tr>
        </table>
        <div id="fit_results" style="vertical-align: top;">
            <table widh="100%" id="tbl_fit_results">

            </table>
        </div>
        <div id=job_results>
            
        </div>
    </body>
    <script>
        function clearStatus() {
            document.getElementById('status_line').innerText='';
            try{
                cuky = docukemt.cookie;
                console.log(cuky);
            }
            catch (err) {
                console.log(err);
            }
        }
        try {
            document.getElementById("problemFile").onchange = load_bumps_problem;
            document.getElementById("clear_file").onclick = clear_file;
            document.getElementById("save_problem_file").onclick = save_model;
        }
        catch (err) {
            console.log(err);
        }

        setInterval(onStatusTimerTick, 500);
        
        var alg=document.getElementById("algorithm");
        if (alg)
            alg.value="newton";
    </script>
</html>
