<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ url_for ('static', filename='js/celery_setup.js') }}" charset="utf-8"></script>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/celery_setup.css') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <script>
        </script>
    </head>
            <title>Bumps Celery Setup</title>
    <body onload="display_celery_setup({{ servers }})">
        <h3 style="text-align: center;">Bumps Celery Setup</h3>
        <!--<div>Servers:<br>servers: {{ servers }}<br>dir: {{ dir }}</div>-->
    <table style="width: 100%;">
            <tr>
                <td style="align-items: center;">
                    <input type="button" value="Save" onclick="onServersSaveClick()">
                </td>
                <td style="align-items: center;">
                    <input type="button" value="Reload" onclick="onServersReloadClick()">
                </td>
                <td style="align-items: center;">
                    <input type="button" value="Export..." onclick="onServersExportClick()">
                </td>
                <td style="align-items: center;">
                    <input type="button" value="Default..." onclick="onServersDefaultClick()">
                </td>
            </tr>
        </table>
        <hr>
        <table border="1">
            <tr>
                <th>Function</th>
                <th>Broker</th>
                <th>Backend</th>
            </tr>
            <tr>
                <th>Server Type</th>
                <td>
                    <select id="broker_type">
                        <option value="rabbit">RabbitMQ</option>
                        <option value="redis">Redis</option>
                    </select>
                </td>
                <td>
                    <select id="backend_type">
                        <option value="rabbit">RabbitMQ</option>
                        <option value="redis">Redis</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Server Type</th>
                <td><input type="text" id="txtBroker" value="rabbit-server"></td>
                <td><input type="text" id="txtBackend" value="redis-server"></td>
            </tr>
<!-- -->
            <tr>
                <th>Connection String</th>
                <td><div id="divBrokerConnection"></div></td>
                <td><div id="divBackendConnection"></div></td>
<!--
                <td><input type="text" id="txtBrokerConnection" value="amqp://rabbit-server" readonly></td>
                <td><input type="text" id="txtBkendConnection" value="redis://redis-server" readonly></td>
-->
            </tr>
<!-- -->
            <tr>
                <th>Test</th>
                <td style="text-align:center;" colspan="2">
                    <input type="button" id="btnBrokerTest" onclick="onServersTestClick()" value="Test Servers">
                </td>
            </tr>
            <tr>
                <th>Results</th>
                <td><div class="celery_result" id="broker_test_result"></div></td>
                <td><div class="celery_result" id="backend_test_result"></div></td>
            </tr>
            <tr>
                <th>Test Messages</th>
                <td><div id="broker_test_message"></div></td>
                <td><div id="backend_test_message"></div></td>
            </tr>
        </table>
        <div id="divMsg"></div>
        <hr>
        <div id="ex1" class="modal">
            <p>Thanks for clicking. That felt good.</p>
            <a href="#" rel="modal:close">Close</a>
        </div>
          
          <!-- Link to open the modal -->
          <p><a href="#ex1" rel="modal:open">Open Modal</a></p>
        <hr>
    </body>
</html>
