{% extends "base.html" %}
{% block content %}
    {%if valid%}
    <p>Hello, user of token {{id}} and JWT token {{user_jwt}}! </p>
    <div>
        <p> View the status of your jobs... </p>
        {% for job in user_jobs %}
            <p> {{job}} </p>
        {% endfor %}
    </div>

    <div>
        <p> Submit another job...
        <form action="{{url_for('submit_job')}}" method="POST">
            <input type="submit" value="Go"/></p>
        </form>
    </div>

    <form action="{{url_for('index')}}" method="GET">
        <p><input type="submit" value="Back"/></p>
    </form>

    {% elif id == '' %}
    <p> Please enter a user token in order to access the services.</p>
    <form action="{{url_for('index')}}" method="GET">
        <p><input type="submit" value="Back"/></p>
    </form>

    {%else%}
    <p>Sorry, token {{id}} is not a valid token! </p>
    <form action="{{url_for('index')}}" method="GET">
        <p><input type="submit" value="Back"/></p>
    </form>
    {%endif%}
{% endblock %}
