{% extends "base.html" %}
{% block content %}
    <p>Logged in as token {{ id }}.</p>
    <div>
        {% if jobs and jobs != [] %}
        <p> View the status of your jobs... </p>
            {% for job in jobs %}
            <br><br>
                {% if job['status'] == 'COMPLETED' %}
                        <p> Job #{{ job['_id'] }} (Submitted on {{ job['submitted'] }}) | Results available! </p>

                    {% for result_file in files[job['_id']] %}
                        {% if result_file.split('.')[-1] != 'png' %}
                            <form action="/api/users/{{ id }}/job{{ job['_id'] }}/{{ result_file }}" method="GET">
                                <p style="padding-left:5em; display:list-item"> File: {{ result_file|safe }} <input type="submit" value="Download"/>
                                </p>
                            </form>
                        {% endif %}
                    {% endfor %}

                    <form action="/api/users/{{ id }}/job{{ job['_id'] }}/job_results.zip" method="GET">
                    <p style="padding-left:5em; font-weight: bold;"> Download zipped results (excluding .mc files) <input type="submit" value="Download"/> </p>
                    </form>

                    <h3 align="center"> Generated graphs (click to interact) </h3>
                    <table id="graphs" align="center">
                    <div>
                        <tr>
                        {% for result_file in files[job['_id']] if '-model' not in result_file and result_file.split('.')[-1] == 'png' %}
                            {% if loop.index is divisibleby(4) %}
                                </tr><tr>
                            {% endif %}
                            <td>
                                <form action="/api/users/{{ id }}/job{{ job['_id'] }}/{{ result_file.split('.')[0] + '.html' }}/1" method="GET">
                                    <input class="thumbnail" type="image" src="/api/users/{{ id }}/job{{ job['_id'] }}/{{ result_file }}" alt="View" />
                                </form>
                                <div class='graph_btn'>
                                    <form action="/api/users/{{ id }}/job{{ job['_id'] }}/{{ result_file }}"><input name="graph_btn" type="submit" value="Download .png file"/></form>
                                </div>
                            </td>
                        {% endfor %}
                        {% for result_file in files[job['_id']] if '-model' in result_file and result_file.split('.')[-1] == 'png' %}

                        {% if loop.index is divisibleby(3) %}
                        </tr><tr>
                        {% endif %}

                            <td>
                                <form action="/api/users/{{ id }}/job{{ job['_id'] }}/{{ result_file.split('.')[0] + '.html' }}/1" method="GET">
                                    <input class="thumbnail" type="image" src="/api/users/{{ id }}/job{{ job['_id'] }}/{{ result_file }}" alt="View" />
                                </form>
                                <div class='graph_btn'>
                                    <form action="/api/users/{{ id }}/job{{ job['_id'] }}/{{ result_file }}"><input name="graph_btn" type="submit" value="Download .png file"/></form>
                                </div>

                            </td>

                        {% endfor %}

                    </div>
                    </table>

                <p> <form action="/api/jobs/{{ id }}/job{{ job['_id'] }}/delete.html" method="GET"> Delete job #{{ job['_id'] }}: <input style="display:inline;" type="submit" value="Delete"/></form> </p>

                {% elif job['status'] == 'RUNNING' %}
                    <p> Job #{{ job['_id'] }} (Submitted on {{ job['submitted'] }}) | Status: running... </p>

                {% elif job['status'] == 'PENDING' %}
                <p> Job #{{ job['_id'] }} (Submitted on {{ job['submitted'] }}) | Status: pending...</p>

                {% endif %}

            {% endfor %}
        {% else %}
        <p> You currently have no jobs running. </p>
        {% endif %}
    </div>

    <br>
    <p>
		<form action="{{ url_for('fit_job') }}" method="GET">
			Submit a new job...<input style="display:inline;"type="submit" value="Go"/>
		</form>
	</p>

    <br>
    <hr>
    <form action="{{ url_for('logout', redirect=1) }}" method="GET">
        <p><input type="submit" value="Logout"/></p>
    </form>
{% endblock %}
