{% extends "base.html" %}
{% block content %}
    {% if jwt_id %}
    <h4> You are logged in as token {{ jwt_id }}.</h4>
<!--
	    <form action = "{{ url_for('dashboard') }}" method="POST">
        <p> View your jobs and submit new jobs.
        <input type="submit" value="Go" /></p>
    </form>
-->

    {% else %}
    <h4> Welcome. Please use your user token to sign in or request a new user token.</h4>
    {% endif %}

    <form method = "POST">
        <p> {{ form.csrf_token }} {{ form.token.label }} {{ form.token(size=20) }}
        <input type="submit" value="Submit" /> </p>
    </form>

<table align="Left" border="0" width="100%">
	<tr>
		<td align="center">
			<form action = "{{ url_for('tokenizer') }}" method="GET">
				Need new token?<br>
				<input type="submit" value="Request" />
			</form>
		</td>
		<td align="center">
			<form action="{{ url_for('index_continue_current_token') }}" method="GET">
				Already logged in<br>
				<input type="submit" value="Continue"/>
			</form>
		</td>
		<td align="center">
			<form action="{{ url_for('index_logout') }}" method="GET">
				Different User?<br>
				<input type="submit" value="Logout" />
			</form>
		</td>
	</tr>
</table>
<br>
<br>
<br>
<table>
<tr>
	<td>
		<center>Version of Tuesday 7/10, 09:18</center>
		<form action = "{{ url_for('check_celery') }}" method="GET">
			Is there a <a href="http://www.celeryproject.org/">Celelry</a> Worker?
			<input type="submit" value="Check Celery" /></p>
	</form>
</td>
</tr>
</table>
<p><em> Note: This page currently uses cookies to remember your authorization token.</em></p>

{% endblock %}
<!--

    <form action = "{{ url_for('use_old_token') }}">
        <input name="my_text">
        <input type="submit">
    </form>
-->
