{% extends "base.html" %}
{% block content %}
{% if message %}
    <b><center>{{ message }}</center></b>}
{% endif %}
    {% if jwt_id %}
        <p>You are logged in as token <b>{{ jwt_id }}.</b></p>
        <hr>
        <form action = "{{ url_for('dashboard') }}" method="POST">
            <p>View submitted job()s:
            <input type="submit" value="Go" /></p>
        </form>
    {% else %}
        <p>You are logged out</p><br>
    {% endif %}
<hr>
<table class="table1">
    <tr>
        <td class="td1">
            User old token
        </td>
        <td class="td1">
            Need new token?
        </td>
    </tr>
    <tr>
        <td class="td1">
            <form method="POST">
                <input name="old_token">
                <input type="submit" value="Reload">
            </form>
        </td>
        <td class="td1">
			<form action = "{{ url_for('tokenizer') }}" method="GET">
				<input type="submit" value="Request" />
			</form>
        </td>
    </tr>
</table>
<hr>

    <center>Version of Thursday 7/19, 12:04</center>
<p><em> Note: This page currently uses cookies to remember your authorization token.</em></p>
<bottom>
    <center>
        {% include 'footer.html' %}
    </center>
</bottom>
{% endblock %}
