{% extends "base.html" %}
{% block content %}
    <h4> Your session has expired. Please use your user token to log back in. </h4>
    <form action = "{{url_for('dashboard')}}" method = "POST">
        <p> {{form.csrf_token}} {{form.token.label}} {{form.token(size=20)}}
            {% if error %}
                <li><font color="red">That's not right...</font></li>
            {% endif %}
    <input type="submit" value="Submit" /> </p>
    </form>

    <form action="{{url_for('index')}}" method="GET">
        <p><input type="submit" value="Back"/></p>
    </form>

{% endblock %}
