<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='bumps.css') }}" rel="stylesheet">
    <title>BUMPS</title>
    </head>
  <body>
    <div class="navbar">
      <a href="http://www.yahoo.com">Yahoo</a>
      <a href="#news">News</a>
      <div class="dropdown">
        <button class="dropbtn">Dropdown 
            <i class="fa fa-caret-down"></i>
        </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div> 
        </div>
<ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    
      <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
    <hr>
    <p>Click <a href="/logout">here</a> to log out</p>
    <hr> 
  </body>
</html>
